/*
************
reset
************
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
************
variables
************
*/

:root {
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --secondary-color: #9792e4;
}

/*
************
debug
************
*/

/*
************
utility
************
*/
.container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.flex {
    display: flex;
}

/*
************
common
************
*/
ul {
    list-style: none;
}

/*
************
header
************
*/
header {
    background-color: var(--first-color);
}

/*
************
main
************
*/

/*
************
footer
************
*/

