/*
************
reset
************
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
************
variables
************
*/

:root {
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --secondary-color: #9792e4;
}

/*
************
debug
************
*/
.debug main #info .row .col,
.debug main #benefits .row .col {
    height: 200px;
}

/*
************
utility
************
*/
.container {
    width: 100%;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.btn {
    border-radius: 1.875rem;
}

.col {
    width: 100%;
    border-radius: .9375rem;
}

.card {
    width: 100%;
    border-radius: 3.125rem;
}

.profile-img > div {
    border-radius: 50%;
    background-color: green;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 71.25rem;
        margin: 0 auto;
    }
}

/*
************
common
************
*/
body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

header a,
main a:not(#pre-footer a) {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h2 {
    text-align: center;
    margin: .625rem 0 3.125rem;
}

/*
************
header
************
*/
header {
    background-color: var(--first-color);
    height: 4.6875rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    color: white;
}

header .main-nav {
    display: none;
}

header .main-nav ul li > a:not(.main-nav ul li:last-child > a) {
    padding: 0 .9375rem;
    color: white;
}

header .main-nav ul li:last-child > a {
    padding: .625rem .9375rem;
    margin-left: .3125rem;
    background-color: white;
    text-align: center;
    color: black;
}

@media screen and (min-width: 992px) {
    header .main-nav {
        display: block;
    }

    header .hamburger {
        display: none;
    }
}

/*
************
main
************
*/
main {
    margin-top: 4.6875rem;
}

section {
    padding: 3.75rem 0;
}

section:nth-of-type(even) {
    background-color: var(--secondary-color);
}

/*info*/
main #info .col {
    margin: -0.75rem;
}

main #info .row .col {
    background-color: var(--first-color-light);
    margin: .75rem;
}

@media screen and (min-width: 768px) {
    main #info .row .col {
        width: calc(100% / 3 - 1.5rem);
    }

    main #info .row .col:first-child {
        width: calc(2 * (100% / 3) - 1.5rem);
    }
}

@media screen and (min-width: 992px) {
    main #info .row .col:first-child {
        flex-direction: row;
    }
}

/*planning*/
main #planning .row {
    align-items: flex-end;
}

main #planning .row .col-2 {
    background-color: white;
}

@media screen and (min-width: 992px) {
    main #planning .container {
        padding: 0 8.125rem;
    }

    main #planning .row .col {
        width: calc(50% - 1.875rem);
    }
}

/*testimonials*/
main #testimonials .card {
    background-color: var(--secondary-color);
    margin: 1.875rem 0;
    padding: 1.875rem 1.25rem 2.5rem;
    text-align: center;
}

main #testimonials .card .profile-img > div {
    width: 12.5rem;
    height: 12.5rem;
}

@media screen and (min-width: 768px) {

    main #testimonials .card {
        text-align: left;
    }

    main #testimonials .card .content {
        margin-left: 1.875rem;
    }
}

@media screen and (min-width: 992px) {

    main #testimonials .card {
        flex-direction: row;
        padding: 1.875rem 2.5rem 3.125rem .9375rem;
    }

    main #testimonials .card .content {
        margin-left: 3.75rem;
    }
}

/*benefits*/
main #benefits .row {
    margin: -0.9375rem;
}

main #benefits .row .col {
    background-color: white;
    margin: .9375rem;
}

@media screen and (min-width: 768px) {
    main #benefits .row .col {
        width: calc(100% / 3 - 1.875rem);
    }
}

/*about us*/
main #about-us .small-box .profile-img > div {
    width: 11.25rem;
    height: 11.25rem;
}

@media screen and (min-width: 768px) {
    main #about-us .container {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        display: flex;
        gap: 7.1875rem;
    }
}

/*pre-footer*/
@media screen and (min-width: 768px) {
    main #pre-footer .container,
    footer .container {
        max-width: 35.625rem;
    }
}
/*
************
footer
************
*/
footer {
    background-color: #222;
    color: white;
    padding: 2.5rem 0 2.5rem;
}


